@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?39304854");
  src: url("../font/fontello.eot?39304854#iefix") format("embedded-opentype"), url("../font/fontello.woff2?39304854") format("woff2"), url("../font/fontello.woff?39304854") format("woff"), url("../font/fontello.ttf?39304854") format("truetype"), url("../font/fontello.svg?39304854#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39304854#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before {
  content: "";
}

/* '' */
.icon-clipboard:before {
  content: "";
}

/* '' */
.icon-calendar:before {
  content: "";
}

/* '' */
.icon-clock:before {
  content: "";
}

/* '' */
.icon-bell-alt:before {
  content: "";
}

/* '' */
html,
body {
  height: 100%;
}
html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

.lock {
  overflow-y: hidden;
}

.shadowing {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.375);
}

.shadowing--active {
  display: block;
}

body {
  background-color: #fafafa;
  font-family: "Epilogue", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container--inner {
  padding: 0;
}

.header {
  padding-top: 20px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  color: #141414;
  font-size: 2rem;
  font-weight: 700;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__burger {
  display: none;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 2px;
  z-index: 10;
  background: #000;
}
.header__burger:before, .header__burger:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header__burger:before {
  top: -10px;
}
.header__burger:after {
  top: 10px;
}
.header__burger--active {
  height: 0px;
}
.header__burger--active:before {
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__burger--active:after {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__login, .header__register {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.header__login {
  border: 2px solid transparent;
  color: dimgray;
}
.header__login:hover {
  color: #141414;
}
.header__register {
  border: 2px solid dimgray;
  border-radius: 15px;
}
.header__register:hover {
  border: 2px solid #141414;
}

.menu__list {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.menu__link {
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  color: dimgray;
  margin-right: 40px;
  white-space: nowrap;
}
.menu__link:hover {
  color: #141414;
}

.sub-menu {
  position: absolute;
  top: 35px;
  list-style-type: none;
  display: none;
  background-color: #fff;
  padding: 0.8rem 0.9rem;
  border-radius: 10px;
  -webkit-box-shadow: 1px 15px 30px 1px rgba(34, 60, 80, 0.2);
          box-shadow: 1px 15px 30px 1px rgba(34, 60, 80, 0.2);
}
.sub-menu--left {
  left: -40px;
}
.sub-menu__link {
  padding: 0.3rem 0;
  position: relative;
}
.sub-menu__link:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 2px;
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #141414;
}

@media (max-width: 750px) {
  .header {
    padding: 10px 0 0 0;
  }
  .header__burger {
    display: block;
  }
  .header__reg {
    display: none;
  }

  .menu__list {
    background-color: #fff;
    position: fixed;
    right: -200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 200px;
    top: 0;
    padding: 40px 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__link {
    padding: 10px 0;
  }

  .sub-menu {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.menu__list--active {
  display: block;
  right: 0;
  width: 200px;
}

.sub-menu__link:hover:before {
  width: 100%;
}

.attribution {
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.sub-menu--active {
  display: block;
}

.icon--active:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.inner {
  margin-top: 50px;
}
.inner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inner__text {
  padding-top: 100px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  color: #141414;
}
.inner__title {
  font-size: 5rem;
  font-weight: 700;
}
.inner__sub-title {
  padding-right: 150px;
  line-height: 22px;
  margin-top: 50px;
  font-size: 1.12rem;
  font-weight: 500;
  color: dimgray;
}
.inner__link {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: 70px;
  border: 1px solid black;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #000;
  text-decoration: none;
  border-radius: 15px;
  color: #fff;
}
.inner__link:hover {
  color: #000;
  background-color: transparent;
  font-weight: 700;
}
.inner__photo-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.inner__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1290px) {
  .header__logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }

  .inner__body {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .inner__title {
    font-size: 3rem;
  }
}
@media (max-width: 750px) {
  .inner__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .inner__title {
    font-size: 2rem;
  }
  .inner__sub-title {
    font-size: 1rem;
    font-weight: 700;
  }
  .inner__text {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .inner__sub-title {
    padding: 0;
  }
}
.icon-clipboard {
  color: #4c00ff;
}

.icon-calendar {
  color: #009dff;
}

.icon-clock {
  color: #b300ff;
}

.icon-bell-alt {
  color: #ffe100;
}